.header {
    background-color: orange;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.header ul {
    display: flex;
    gap: 40px;
    list-style: none;
    font-size: 26px;
    margin-left: -50px;
}

.main-left {
    width: 300px;
}

.main-parent {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;


}

.main-right img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.main-parent button {
    font-size: bold;
    border: none;

    font-weight: 30px;
    border-radius: 8px;
    padding: 16px 30px;
    margin-top: 30px;
    background-color: rgb(236, 169, 24);
    padding: 10px 10px;
}
.footer {
    /* background-color: rgb(222, 136, 25); */
    background-color: orange;
    display: flex;
    height: 200px;
    justify-content: space-between;
    padding: 10px 60px;
    
    
}
.footer {
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;
    font-size: 20px;
}
.footer img {
    width: 40px;
    height: 40px;
    gap: 40px;
    border-radius:50%;
    margin-left: -100px;
    margin-top: 20px;
    align-items: center;
}





@media screen and (max-width: 600px) {
    *{
        margin: 0px;
        padding: 0px;
    }
    .header h1 {
       font-size: 30px; 
       width: 500px;
       margin-left: -12px;
      
    }
    .header {
    align-items: center;

    }

    .i {
     font-size: 23px;
    }
    .header ul {
    display: none;
    }
    .main-left p{
    width: 300px;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 20px;
    }
    .main-left h1{
    margin-left: 10px;
    }
    .main-left button{
    margin-left: 14px;
    padding: 20px;
    
    }
    .main-parent {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    }
    .main-right img {
        margin-top: 12px;
        width: 250px;
        height: 250px;
        border-radius: 20px
        
        
    }
    .footer {
    margin-top: 10px;
    
    }
    .footer img{
    align-items: center;
    gap: 12px;
    }
}
